* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-darkplum: #281c7d;
  --primary-darkmode: #121212;
  --primary-darkgrape: #422fd0;
  --primary-darkmode-text: hsla(0, 100%, 100%, 0.9);
  
  --logotext: 'Open Sans', sans-serif;
  --text: 'Tahoma', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--primary-darkmode);
  color: var(--primary-darkmode-text);
  font-family: var(--text);
  line-height: 1.6;
}

li {
  list-style-type: none;
}

/***********NAVBAR COMPONENT***********/

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 10vh;
  max-width: 80vw;
  border-bottom: 2px solid var(--primary-darkmode-text);
}

.navbar-logo-wrapper {
  display: flex;
  align-items: center;
  font-family: var(--logotext);
  font-weight: bold;
}

.navbar-container {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-darkmode-text);
  font-weight: bold;
}

.navbar-logo {
  min-height: 3rem;
  margin-right: 1rem;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: var(--primary-darkmode-text);
}

.navbar-links li {
  margin: 1rem;
}

.hamburger-nav {
  display: none;
  padding: 1rem 0;
}

.nav-hamburger-icon {
  width: 3rem;
  height: 3rem;
}

/**********NAVBAR MEDIA QUERY**********/

/* 576PX OR PHONE IN PORTRAIT MODE */
@media only screen and (max-width: 576px) {
  nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .navbar-links {
    display: none; 
  }
  .hamburger-nav {
    display: inline;
  }
}



/**********APP BODY/CONTAINER FOR OTHER PAGES/COMPONENTS**********/

.route-container{
  margin: 0 auto;
  min-height: 60vh;
  max-width: 80vw;
  background-color: var(--primary-darkmode);
}

/**********PAGES CONTAINER**********/

.pages-container {
  
}

/**********CARD**********/
/*
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40vw;
  max-width: 90%;
  min-height: 20vh;
  background-color: var(--primary-darkmode);
  margin: 2rem auto;
}
*/

.card {
  margin-bottom: 2rem;
}

.card-line-item {
  margin-bottom: 2rem;
}

/**********HOME**********/

.home-container {
  margin: 10% auto;
}

/**********ABOUT**********/

.about-headers {
  margin: 1rem;
}

/**********EVENTS AND VENUES**********/

.act-shows{
  margin-top: 2rem;
}

/**********GET INVOLVED**********/

.get-involved-headers {
  margin: 1rem;
}

.getinvolved-contact {
  display: block;
}


/**********FOOTER**********/

.footer-wrapper {
  margin: 0 auto;
  min-height: 10vh;
  max-width: 80vw;
  border-top: 2px solid var(--primary-darkmode-text);
}

.footer-container {
  margin: 2rem 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-list a {
  text-decoration: none;
  color: var(--primary-darkmode-text);
  margin-left: 1rem;
}

.footer-memorial {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  padding-bottom: 2rem;
}

/**********NOT FOUND ROUTE PAGE**********/

.not-found {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------SIDEBAR DRAWER----------*/

.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;
  background: var(--primary-grey);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  transition: ease-in-out 200ms;
}

.sidebar-navlink-list {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}

.sidebar-navlink {
  margin: 1rem;
}

