* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-darkplum: #281c7d;
  --primary-darkmode: #121212;
  --primary-darkgrape: #422fd0;
  --primary-darkmode-text: hsla(0, 100%, 100%, 0.9);
  
  --logotext: 'Open Sans', sans-serif;
}

body {
  background-color: var(--primary-darkmode);
  color: var(--primary-darkmode-text);
  font-family: var(--logotext);
}

li {
  list-style-type: none;
}

/***********NAVBAR COMPONENT***********/

.navbar-wrapper {
  margin: 0 auto;
  min-height: 10vh;
  max-width: 80vw;
}

.navbar-logo-wrapper {
  display: flex;
  align-items: center;
  font-family: var(--logotext);
  font-weight: bold;
}

.navbar-container {
  margin: 0 4rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-darkmode-text);
  font-weight: bold;
}

.navbar-logo {
  min-height: 3rem;
  margin-right: 1rem;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: var(--primary-darkmode-text);
}

.navbar-links li {
  margin: 1rem;
}

/**********APP BODY/CONTAINER FOR OTHER PAGES/COMPONENTS**********/

.route-container{
  margin: 0 auto;
  min-height: 80vh;
  max-width: 80vw;
  background-color: var(--primary-darkmode);
}

/**********PAGES CONTAINER**********/

.pages-container {
  
}

/**********CARD**********/

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40vw;
  max-width: 70%;
  min-height: 20vh;
  background-color: var(--primary-darkmode);
  margin: 0 auto;
  padding: 2rem;
}

.card-line-item {
  margin-bottom: 1rem;
}

/**********FOOTER**********/

.footer-wrapper {
  margin: 0 auto;
  min-height: 10vh;
  max-width: 80vw;
}

.footer-list {
  display: flex;
  justify-content: space-around;
}

.footer-list a {
  text-decoration: none;
  color: var(--primary-darkmode-text);
  margin-left: 1rem;
}

.footer-memorial {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}